nav {
  background-color: var(--secondary-color);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


nav ul li{
    align-items: center;
    padding: 0 50px;
}

nav button{
  background: none;
  border: none;
  color: var(--text-primary-color);
}
 nav button:hover{
  cursor: pointer;
 }
