.paginationMenu-container {
  position: fixed;
  bottom: 10px;          
  left: 50%;               
  transform: translateX(-40%);
  background: var(--white-color);
  padding: 12px 20px;
  width: auto;              
  border-top: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px -4px 12px rgba(0,0,0,0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;         
  gap: 45px;
border-radius: 8px;
}



.paginationMenu-container li{
    gap: 10px;
    align-items: center;
    transition: transform 0.3s ease;
}

.paginationMenu-container li:hover{
    transform: scale(1.08);
    cursor: pointer;
}
