.pageTitle-line{
    align-items: center;
}

.pageTitle-container ul li:first-child{
    gap: 15px;
}

.pageTitle-container ul{
    align-items: center;
}

.pageTitle-container ul li{
    padding-left: 75px;
}

.pageTitle-container ul li img{
    height: 60px;
    width: 80px;
}

.pageTitle-dashboard {
    background-color: #F8EAC0;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 60px;
}


.pageTitle-dashboard ul li{
    gap: 15px;
    padding-left: 75px;
}

.pageTitle-dashboard ul{
    align-items: center;
}


.pageTitle-dashboard ul li img{
    height: 40px;
    width: 50px;
}

.pageTitle-line>h3{
    font-size: 24px;
}