.detalhes-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
}

.detalhes-card {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.remove-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.detalhes-info {
  margin-top: 1rem;
}

.detalhes-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
  margin-top: 10px;
}

.detalhes-row input,
.detalhes-row select,
.detalhes-row textarea {
  width: 330px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-color);
  padding: 8px 10px;
  color: var(--full-black-color);
  outline: none;
}

.detalhes-footer.flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.detalhes-value {
  width: 145px;
  max-height: 120px;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  line-height: 1.5;
}

.detalhes-title {
  width: 92px;
}
