.dashboardMenu-content{
    gap: 30px;
    padding-left: 100px;
    padding-top: 30px;
   
}

.dashboardMenu-content li h3{
    font-size: 30px;
    color: var(--full-black-color);
}

.dashboardMenu-content-optionsLine {
  flex-wrap: wrap;
  gap: 30px;
}

.dashboardMenu-content-optionsLine .optionCard {
  flex: 1 1 calc(25% - 1rem);
  min-width: 180px;
  max-width: 250px;
}
