.doencaCard-container {
  background-color: var(--primary-color);
  height: 230px;
  width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.doencaCard-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.doencaCard-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.doencaCard-container h3 {
  color: var(--full-black-color);
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.doencaCard-container p {
  color: var(--full-black-color);
  padding: 0 10px;
  text-align: justify;
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.doencaCard-buttons {
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
