.funcionarioCard-container {
  background-color: var(--primary-color);
  height: 270px;
  width: 270px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  gap: 20px;
}

.funcionarioCard-container .middle-column{
  gap: 8px;
}

.funcionarioCard-container:hover{
  cursor: pointer;
  transform: scale(1.08);
}

.funcionarioCard-container li {
  border-radius: 10px;
  padding-top: 13px;
}

.funcionarioCard-container li:first-child {
  justify-content: center;
  align-items: center;
}

.funcionarioCard-container li h3 {
  color: var(--full-black-color);
  padding-left: 9px;
}

.funcionarioCard-container li p {
  padding-left: 9px;
}

.funcionarioCard-container li span{
  align-items: center;
}

.funcionarioCard-container li span h3,p{
  font-size: 17px;
}

.funcionarioCard-buttons{
    align-items: center;
    gap: 10px;
}
