.middle{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 153px;
}

.form-container{
    background-color: var(--white-color);
    width: 683px;
    height: 471px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 160px;
    
}

form{
    width: 400px;
    height: auto;
    align-items: center;
}

form h2{
    padding-bottom: 32px;
}

form label{
    align-self: baseline;
}

form input{
    width: 400px;
    height: 34px;
    border-radius: 17px;
    border-color: none;
    border: none;
    background-color: var(--secondary-color);
    padding-left: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form #senha{
    padding-top: 22px;
}

form span{
    padding-top: 25px;
    color: var(--text-primary-color);
    font-size: var(--small-text-size);
}

.plant{
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
}
