.ovinoCard-container {
  background-color: var(--primary-color);
  height: 310px;
  width: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.ovinoCard-container:hover{
  cursor: pointer;
  transform: scale(1.08);
}

.ovinoCard-container li {
  border-radius: 10px;
  padding-top: 13px;
}

.ovinoCard-container li:first-child {
  justify-content: center;
  align-items: center;
}

.ovinoCard-container li h3 {
  color: var(--full-black-color);
  padding-left: 9px;
}

.ovinoCard-container li p {
  padding-left: 9px;
}

.ovinoCard-container li span{
  align-items: center;
}

.ovinoCard-container li span h3,p{
  font-size: 17px;
}

.ovinoCard-buttons{
    align-items: center;
    gap: 10px;
}
