.cadastrar-funcionario-bg{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color); 
}

.cadastrarFuncionario-container {
  background-color: var(--white-color);
  width: 500px;
  height: 550px;
  align-self: center;
  justify-self: center;
  margin-top: 40px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.cadastrarFuncionario-container h3,label{
    color: var(--full-black-color);
}

.cadastrarFuncionario-container ul{
    gap: 34px;
    align-items: center;
    margin-top: 42px;
}

.cadastrarFuncionario-container input{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    padding-left: 8px;
    width: 350px;
}

.cadastrarFuncionario-container button{
    margin-top: 36px;
}