.paginationMenu-container{
    gap: 45px;
    padding-bottom: 26px;
}

.paginationMenu-container li{
    gap: 10px;
    align-items: center;
    transition: transform 0.3s ease;
}

.paginationMenu-container li:hover{
    transform: scale(1.08);
    cursor: pointer;
}
