@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*  Variáveis */
:root {
  --primary-color: #D9CBA3;
  --secondary-color: #F8EAC0;
  --white-color: #FAFAFA;
  --green-color: #4A7023;
  --silver-color: #D9D9D9;
  --gray-color: #B7B7B7; 
  --light-green-color: #B1CB96;
  --text-primary-color: #4F4F4F;
  --full-black-color: #000000;

  --small-text-size: 16px;
  --h3-size: 20px;
  --h3-weight: 300;
  --h3-bold-weight: 600;
  --h2-size: 34px;
  --h2-weight: 400;
  --h1-size: 30px;
  --button-text-size: 25px;

  --label-size: 21px;
  --label-weight: 300;

  
}

/*Desativar scroll horizontal*/
html, body {
  overflow-x: hidden;
}


/* Zerar css padrão dos navegadores */
ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus, a:hover {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* Classes padrão para utilizar nos elementos */

.flex{
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-primary-color{
  color: var(--text-primary-color);
}

.link-effect{
  transition: transform 0.3s ease; 
}

.link-effect:hover{
  transform: scale(1.08);
  cursor: pointer;
}

/*Definições de body, tamanho e cor de textos, etc */

body {
  height: 100vh;
  width: 100vw;  
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

#root{
  height: inherit;
}

body h2,h3, label{
  color: var(--text-primary-color);
}

body h3{
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

body h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

body h1{
  font-size: var(--h1-size);
}

body label{
  font-size: var(--label-size);
  font-weight: var(--label-weight);
}

a {
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.08);
  cursor: pointer;
}






